  .logo{
        text-align:center;
    }

    .signUpInfo{
        text-align:center;
    }

    .textBox{
        border-radius:5px;
    }

    #toHome .signUp{
        border-radius:5px;
        border:0;
        padding: 10px;
        padding-right:35px;
        padding-left:35px;
        background-color:#c3e86d;
        margin-top: 10px;
    }

    #butt {
        margin-top:10px;
    }
    .backButton{
      margin-top:100px;
    }
    .back #backButton{
        border-radius:5px;
        border:0;
        padding: 10px;
        padding-right:40px;
        padding-left:40px;
    }

    .haveAccount{
        text-align:center;
    }

    #login{
        border:0;
        border-radius:5px;
        padding: 10px;
        padding-right:40px;
        padding-left:40px;
    }

    .logo img{
    height: 200px;
    }
    /*
    Dont Copy this section: web edition exclusive!
    */
    .allContent{
       background: white;
       border-style:solid;
       border-radius:25px;
       margin:auto;
       padding:25px;
       margin-top:20px;
       margin-bottom:5px;
       padding-bottom:100px;
        max-width: 900px;
   }
   /*
    End of no copy section
   */
