h1{
    text-align:center;
}

.logo{
  text-align:center;
}

.button{
    text-align:center;

}

.login{
    background-color:#c3e86d;
    border:0;
    border-radius:5px;
    font-size:15px;
    color: white;
    padding: 10px;
    padding-right:48px;
    padding-left: 48px;
}

.login:hover{
    background-color:#00cc00;
    border:0;
    border-radius:5px;
    font-size:15px;
}

   .allcontent{
    background: white;
    border-style:solid;
    border-radius:25px;
    margin:150px;
    padding:25px;
    margin-top:20px;
    margin-bottom:5px;
   padding-bottom:100px;
}

.signup{
    background-color:#0e8feb;
    color: white;
     border:0;
     border-radius:5px;
     font-size:15px;
     padding: 10px;
     padding-left: 40px;
     padding-right: 40px;
     max-width: 900px;
}

.signup:hover{
    background-color:#1183d4;
     border:0;
     border-radius:5px;
     font-size:15px;
}