.logo{
  text-align:center;
}

.logo img{
    height:200px;
}

  /*
    Dont Copy this section: web edition exclusive!
    */
    .allContent{
       background: white;
       border-style:solid;
       border-radius:25px;
       margin:auto;
       padding:25px;
       margin-top:20px;
       margin-bottom:5px;
       padding-bottom:100px;
        max-width: 900px;
   }
   /*
    End of no copy section
   */

body{
    background-image:url(images/background.png)
}

h1{
    text-align:center;
}

.button{
    text-align:center;

}
